*{
    box-sizing: border-box;
  }
  
  body
  {
    background-color: #1A374D;
    color: white;
    font-family: sans-serif;
    margin: 0;
  }
  
  .root{
    display: flex;
    flex-direction: column;
  }
  
  header{
    background-color: #406882;
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
  }
  
  .search{
    background-color: #1A374D;
    border: 2px solid #1A374D;;
    color: white;
    font-family: inherit;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
  }
  
  .search:focus{
    outline: 0;
  }
  
  .movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie{
    background-color: #406882;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 1rem;
    width: 300px;
    position: relative;
  }
  
  .movie img{
    max-width: 100%;
  }
  
  .movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .movie-info h3{
    margin: 0;
  }
  
  .movie-overview{
    background-color: white;
    border-top-left-radius:3px ;
    border-top-right-radius:3px ;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
    color: #1A374D;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(102%) ;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
  }
  
  .movie:hover .movie-overview
  {
    transform: translateY(0%);
  } 